{{ define "slot" }}
<h1>Vip List</h1>
<div id="vip-list-table">
	<table role="grid">
		<thead>
			<th>Name</th>
			<th>World</th>
			<th>Status</th>
			<th><span /></th>
		</thead>
		<tbody>
			{{- range .VipListTableData.VipList }}
			<tr>
				<td>{{ .Name }}</td>
				<td>{{ .World }}</td>
				{{ if .IsOnline }}<td style="color:green">online</td>{{else}}<td style="color:red">offline</td>{{end}}
				<td><a hx-delete="/vip-list/{{ .Name }}" hx-target="body">Remove</a></td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>
<form hx-post="/vip-list" hx-target="body">
	<progress class="htmx-indicator"></progress>
	<input type="input" name="name" placeholder="Search for a buddy..." />
</form>

	{{ if .Error }}
	<dialog open>
		<article>
			<header>
				<a href="#close" aria-label="Close" class="close"></a>
				Modal title
			</header>
			<p>
			Nunc nec ligula a tortor sollicitudin dictum in vel enim. 
			Quisque facilisis turpis vel eros dictum aliquam et nec turpis. 
			Sed eleifend a dui nec ullamcorper. 
			Praesent vehicula lacus ac justo accumsan ullamcorper.
			</p>
		</article>
	</dialog>
	{{ end }}

{{ end }}
