{{ define "slot" }}		
<h1>Settings</h1>
<form>
	<fieldset>
		<label for="switch">
			<input type="checkbox" id="pushNotificationEnabled" name="pushNotificationEnabled" role="switch" {{ if .UserSetting.PushNotificationEnabled }} checked {{ end }}>
			Push Notifications	
		</labnel>
		<label for="switch_disabled">
			<input type="checkbox" id="emailNotificationEnabled" name="emailNotificationEnabled" role="switch" {{ if .UserSetting.EmailNotificationEnabled }} checked {{ end }}>
			Email Notifications
		</label>
		<label for="firstname">
			Notification Emails
			<input type="text" id="notificationEmails" name="notificationEmails" placeholder="email1@me.com,email2@me.com" value="{{ .UserSetting.NotificationEmails }}" required>
		</label>
	</fieldset>
</form>
{{ end }}
