{{ define "slot" }}
<h1>Vip List</h1>
<div id="vip-list-table" hx-trigger="every 2s" hx-get="/vip-list">
	{{ template "vip-list-table" .VipListTableData }}
</div>
<form hx-post="/vip-list" hx-target="#vip-list-table">
	<progress class="htmx-indicator"></progress>
	<input type="input" name="name" placeholder="Search for a buddy..." />
</form>
<h1>Former Names</h1>
<div id="former-names-table" hx-trigger="every 2s" hx-get="/former-names">
	{{ template "former-names-table" .FormerNamesTableData }}
</div>
<form hx-post="/former-names" hx-target="#former-names-table">
	<progress class="htmx-indicator"></progress>
	<input type="input" name="name" placeholder="Search for a character name..." />
</form>
{{ end }}
