<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/static/favicon.ico" rel="icon">
		<link rel="stylesheet" href="/static/css/pico.min.css">

		<link rel="manifest" href="/static/manifest.json">

		<script src="/static/htmx.min.js"></script>
		<title>Tibia Buddy</title>
	</head>
	<body>
		<nav class="container">
			<ul>
				<li><a href="/"><strong>Tibia Buddy</strong></a></li>
			</ul>
			<ul>
				{{ if .IsLoggedIn }}
				<li><a href="/logout">Logout</a></li>
				{{ else }}
				<li><a href="/login/google">Login with Google</a></li>
				{{ end }}
			</ul>
		</nav>
		<main class="container">
			{{ template "slot" . }}
		</main>
	</body>
</html>

