{{ define "vip-list-table" }}
<div class="container" id="vip-list-table">
	<h1>Vip List</h1>
	<table role="grid">
		<thead>
			<th>Name</th>
			<th>World</th>
			<th>Status</th>
			<th><span /></th>
		</thead>
		<tbody>
			{{- range . }}
			<tr>
				<td>{{ .Name }}</td>
				<td>{{ .World }}</td>
				{{ if .IsOnline }}<td style="color:green">online</td>{{else}}<td style="color:red">offline</td>{{end}}
				<td><a hx-delete="/vip-list/{{ .Name }}" hx-target="#vip-list-table">Remove</a></td>
			</tr>
			{{end}}
		</tbody>
	</table>
	<form hx-post="/vip-list" hx-target="#vip-list-table">
		<input type="input" name="name" placeholder="Search for a buddy..." />
		<div class="htmx-indicator" aria-busy="true">Searching...</div>
	</form>
{{ end }}
